@import 'colors.rasi'

/*****----- Main Window -----*****/
window {
    /* properties for window widget */
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       1000px;
    x-offset:                    0px;
    y-offset:                    0px;

    /* properties for all widgets */
    enabled:                     true;
    border-radius:               10px;
    cursor:                      "default";
    background-color:            @surface;
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     0px;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "inputbar", "mode-switcher", "listbox" ];
}

listbox {
    spacing:                     20px;
    padding:                     20px;
    background-color:            transparent;
    orientation:                 vertical;
    children:                    [ "listview" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     10px;
    padding:                     20px 20px;
    background-color:            @surface-container;
    orientation:                 vertical;
    children:                    [ "search", "message" ];
}
search {
    height:                      56px;
    width:                       400px;
    orientation:                 horizontal;
    spacing:                     0;
    background-color:            @surface-container-high;
    children:                    [ "textbox-prompt-colon", "entry" ];
}
textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    height:                      100%;
    str:                         "";
    vertical-align:              0.5;
    padding:                     0px 0px 0px 16px;
    background-color:            @surface-container-highest;
    text-color:                  @on-surface-variant;
    border:                      0 solid 0 solid 1px solid 0 solid;
    border-color:                @primary;
}
entry {
    enabled:                     true;
    expand:                      true;
    padding:                     12px 16px;
    background-color:            @surface-container-highest;
    text-color:                  @on-surface-variant;
    border:                      0 solid 0 solid 1px solid 0 solid;
    border-color:                @primary;
    cursor:                      text;
    placeholder:                 "Search";
    placeholder-color:           inherit;
}

/*****----- Message -----*****/
message {
    background-color:            transparent;
}
textbox {
    padding:                     12px 16px;
    background-color:            @surface-container;
    text-color:                  @on-surface;
    border:                      1px solid;
    border-color:                @outline;
    border-radius:               10px;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}
error-message {
    padding:                     12px 16px;
    background-color:            @error-container;
    text-color:                  @on-error-container;
    border:                      1px solid;
    border-color:                @error;
    border-radius:               10px;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

/*****----- Mode Switcher -----*****/
mode-switcher{
    enabled:                     true;
    background-color:            transparent;
}
button {
    padding:                     10px 0;
    background-color:            @surface;
    text-color:                  @on-surface-variant;
    cursor:                      pointer;
}
button selected {
    text-color:                  @primary;
    border:                      0 solid 0 solid 1px solid 0 solid;
    border-color:                @primary;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     2;
    lines:                       7;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;

    background-color:            transparent;
    cursor:                      "default";
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    padding:                     10px 16px 10px 16px;
    cursor:                      pointer;
}
element normal {
    background-color:            @surface;
    text-color:                  @on-surface;
}
element alternate {
    background-color:            @surface;
    text-color:                  @on-surface;
}
element selected {
    background-color:            @primary;
    text-color:                  @on-primary;
    border-radius:               10px;
}
element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        20px;
    margin: 0 12px 0 0;
    cursor:                      inherit;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}
