@import '../theme/theme'

element {
    padding: 1px ;
    cursor:  pointer;
    spacing: 5px ;
    border:  0;
}
element normal.normal {
    background-color: @background-color;
    text-color:       @text-color;
}
element normal.urgent {
    background-color: @background-color;
    text-color:       @text-urgent-color;
}
element normal.active {
    background-color: @background-color;
    text-color:       @text-active-color;
}
element selected.normal {
    background-color: @background-selected-color;
    text-color:       @text-selected-color;
}
element selected.urgent {
    background-color: @background-selected-color;
    text-color:       @text-selected-color;
}
element selected.active {
    background-color: @background-selected-color;
    text-color:       @text-selected-color;
}
element alternate.normal {
    background-color: @background-alternate-color;
    text-color:       @text-alternate-color;
}
element alternate.urgent {
    background-color: @background-alternate-color;
    text-color:       @text-urgent-color;
}
element alternate.active {
    background-color: @background-alternate-color;
    text-color:       @text-active-color;
}
element-text {
    background-color: transparent;
    cursor:           inherit;
    highlight:        inherit;
    text-color:       inherit;
}
element-icon {
    background-color: transparent;
    size:             1.0000em ;
    cursor:           inherit;
    text-color:       inherit;
}
window {
    padding:          5;
    background-color: @background-color;
    border:           1;
}
mainbox {
    padding: 0;
    border:  0;
}
message {
    padding:      1px ;
    border-color: @border-color;
    border:       2px dash 0px 0px ;
}
textbox {
    text-color: @text-color;
}
listview {
    padding:      2px 0px 0px ;
    scrollbar:    true;
    border-color: @border-color;
    spacing:      2px ;
    fixed-height: 0;
    border:       2px dash 0px 0px ;
}
scrollbar {
    width:        4px ;
    padding:      0;
    handle-width: 8px ;
    border:       0;
    handle-color: @text-color;
}
sidebar {
    border-color: @border-color;
    border:       2px dash 0px 0px ;
}
button {
    cursor:     pointer;
    spacing:    0;
    text-color: @text-color;
}
button selected {
    background-color: @background-active-color;
    text-color:       @text-active-color;
}
num-filtered-rows {
    expand:     false;
    text-color: Gray;
}
num-rows {
    expand:     false;
    text-color: Gray;
}
textbox-num-sep {
    expand:     false;
    str:        "/";
    text-color: Gray;
}
inputbar {
    padding:    1px ;
    spacing:    0px ;
    text-color: @text-color;
    children:   [ "prompt","textbox-prompt-colon","entry","num-filtered-rows","textbox-num-sep","num-rows","case-indicator" ];
}
case-indicator {
    spacing:    0;
    text-color: @text-color;
}
entry {
    text-color:        @text-color;
    cursor:            text;
    spacing:           0;
    placeholder-color: Gray;
    placeholder:       "Type to filter";
}
prompt {
    spacing:    0;
    text-color: @text-color;
}
textbox-prompt-colon {
    margin:     0px 0.3000em 0.0000em 0.0000em ;
    expand:     false;
    str:        ":";
    text-color: inherit;
}
