@import 'mocha.css';

* {
  font-size: 13px;
  font-family: Roboto;
  color: @text;
  margin: 0;
}

/*
 * -----------------------
 * Bar
 * -----------------------
 */
window#waybar {
  background: transparent;
}

.modules-left, .modules-center, .modules-right {
  border-radius: 0 0 0.8em 0.8em;
  background-color: @base;
  padding: 0 10px;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

widget > .module {
  padding-left: 4px;
  padding-right: 4px;
}

#custom-separator {
  padding: 0;
  margin: 0 6px;
  color: @surface1;
  font-size: 23px;
}

/*
 * -----------------------
 * Workspaces
 * -----------------------
 */
#workspaces label {
  font-size: 25px;
  color: @overlay1;
}

#workspaces .urgent label {
  color: @red;
}

#workspaces .active label {
  color: @green;
}

/*
 * -----------------------
 * Battery
 * -----------------------
 */
#battery.charging, #battery.plugged {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @peach;
}

#battery.critical:not(.charging) {
  color: @red;
}
