@import '../theme/theme.css';

* {
  font-size: 13px;
  font-family: Roboto;
  color: @text;
  margin: 0;
  transition: none;
}

/*
 * -----------------------
 * Bar
 * -----------------------
 */
window#waybar {
  background: transparent;
}

window#waybar > box {
  background-color: @background-color;
  margin: 0 2px 0 2px;
  border-right: 2px solid @border-inactive-color;
  border-bottom: 2px solid @border-inactive-color;
  border-left: 2px solid @border-inactive-color;
}

.modules-left, .modules-center, .modules-right {
  padding: 0 10px;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

widget > .module {
  padding-left: 4px;
  padding-right: 4px;
}

button:hover {
  background-image: none;
  box-shadow: none;
  text-shadow: none;

  border: 1px solid @border-active-color;
  box-shadow: 0 0 4px @border-inactive-color, inset 0 0 4px @border-inactive-color;
}

button:hover label {
  color: @text-active-color;
}

label {
  color: @text-color;
}

#custom-separator {
  padding: 0;
  margin: 0 6px;
  color: @subtext0;
  font-size: 23px;
}

/*
 * -----------------------
 * Workspaces
 * -----------------------
 */
#workspaces label {
  font-size: 25px;
}

#workspaces .urgent label {
  color: @text-urgent-color;
}

#workspaces .active label {
  color: @text-active-color;
}

/*
 * -----------------------
 * Battery
 * -----------------------
 */
#battery.charging, #battery.plugged {
  color: @state-success-color;
}

#battery.warning:not(.charging) {
  color: @state-warning-color;
}

#battery.critical:not(.charging) {
  color: @state-danger-color;
}
